@import './theme.scss';

.page-container {
    height: 100%;
}

/* container basic style of section */
.section-container {
    position: relative;
    max-width: 100%;
    box-shadow: $container-main-boxshadow;
    background-color: #fff;
    margin: 24px;
}

input[type='textarea'].fixed-vert {
    resize: vertical;
}
