@import './theme.scss';

.page-container {
    height: 100%;
}

/* container basic style of section */
.section-container {
    position: relative;
    max-width: 100%;
    box-shadow: $container-main-boxshadow;
    background-color: #fff;
    margin: 24px;
}

.section-title {
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
}

.hl-container {
    position: relative;
    padding: 20px 20px 0 20px;
    background-color: $highlight-background-color;
}

.flex-row-container {
    display: flex;
    // margin-bottom: 10px;

    &.center {
        justify-content: center;
    }

    &.between {
        justify-content: space-between;
    }

    &.end {
        justify-content: flex-end;
    }

    &.middle {
        align-items: center;
    }

    .no-shrink {
        flex-shrink: 0;
    }

    &.column {
        flex-direction: column;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

input[type='textarea'].fixed-vert {
    resize: vertical;
}

.clickable {
    cursor: pointer;
}

.danger {
    color: $warning-color;
}

.inline-block {
    display: inline-block;
}

.ant-table-row.new {
    background: #e8f8f5;
}

// icon
.xb-menu-icon {
    width: 23px;
    height: auto;
}

.xb-menu-item {
    padding: 8px 20px;
}

form {
    .xb-form-input {
        width: 250px;
        margin-right: 10px;
        max-width: 100%;

        &.large {
            width: 300px;
        }

        &.xl {
            width: 360px;
        }

        &.xxl {
            width: 420px;
        }
    }
}

.price {
    color: $price-color;
}

// separator wrapper class for options, icons, tags
.option-sep-container {
    & > *:not(:last-child) {
        margin-right: 10px;
    }
}

.float {
    &.right {
        float: right;
    }
}

.linkable {
    cursor: pointer;
    color: $active-color;
}

.prefer-left {
    display: flex;
}

.xb-breadcrumb-container {
    position: relative;
    margin: 10px 0 40px 0;
}

@media (max-width: 768px) {
    .xb-form-input {
        width: auto;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .prefer-left {
        justify-content: center;
    }
}
