@import './theme.scss';

.page-container {
    height: 100%;
}

/* container basic style of section */
.section-container {
    position: relative;
    max-width: 100%;
    box-shadow: $container-main-boxshadow;
    background-color: #fff;
    margin: 24px;
}

.hl-container {
    position: relative;
    padding: 20px 20px 0 20px;
    background-color: $highlight-background-color;
}

input[type='textarea'].fixed-vert {
    resize: vertical;
}

.clickable {
    cursor: pointer;
}

.danger {
    color: $warning-color;
}

.inline-block {
    display: inline-block;
}
