$main-color: #e3e3e3;

$warning-color: #ff4d4f;
$main-border-color: #d9d9d9;
$active-color: #1890ff;
$sub-text-color: #565959;

$container-background-color: #f0f2f5;
$highlight-background-color: #fafafa;

// border, box-shadow
$container-main-boxshadow: 0 1px 4px rgba(0, 21, 41, 0.08);

// margin, padding
$section-level-one-offset: 24px;
