@import '../../../../style/app.scss';

$address-card-size: 260px;
$address-card-xs-width: 200px;
$address-card-xs-height: 260px;
$address-card-gutter: 20px;

.address-list {
    display: flex;
    flex-wrap: wrap;

    .address-card-container {
        margin: 0 $address-card-gutter $address-card-gutter 0;
        flex-shrink: 0;
    }
}
/**
addressCard
*/
.address-card-container {
    position: relative;
    width: $address-card-size;
    height: $address-card-size;

    .ant-card {
        height: $address-card-size;

        .ant-card-actions {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }

    &.is-new {
        .ant-card {
            background-color: $new-edit-color;
        }
    }

    &.is-default {
        .ant-card-head-title {
            color: #ff5722;
        }
    }

    .ant-descriptions-item {
        padding-bottom: 2px;
    }

    .add-container {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: 2px dashed $main-color;

        .anticon img {
            width: 40px;
        }

        .add-text {
            color: $sub-text-color;
            margin-top: 10px;
        }
    }
}

/**
*/
.add-address-form {
    .ant-form-item {
        margin-bottom: 5px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .address-card-container {
        width: $address-card-xs-width;
        height: $address-card-xs-height;

        .ant-card {
            height: $address-card-xs-height;
        }
    }
}
