@import '../../../../style/app.scss';

$address-card-size: 260px;

.address-card-container {
    position: relative;
    width: $address-card-size;
    height: $address-card-size;

    .add-container {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: 2px dashed $main-color;

        .anticon img {
            width: 40px;
        }

        .add-text {
            color: $sub-text-color;
            margin-top: 10px;
        }
    }
}
